<?xml version="1.0" encoding="utf-8"?>

<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="ProgressConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='C:\Program Files\Microsoft SQL Server\MSSQL13.EXPRESS\MSSQL\DATA\Progress.mdf';Integrated Security=True;Connect Timeout=30" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
